<div class="main-container ">
  <div class="text-center bg-red-500 text-white font-semibold text-2xl p-4 rounded-lg">
    Welcome to My Book Library!
  </div>

  <div class="flex justify-between my-4 sm:mx-[100px] mx-2 sm:flex-row flex-col items-center">
  <!-- Search Input Group -->
  <div class="relative w-[270px]">
    <input 
      type="text" 
      placeholder="Search Book . . ." 
      class="p-2 rounded-lg border w-full text-left border-gray-300"
    />
    <!-- Search Icon -->
    <span class="absolute inset-y-0 right-2 flex items-center">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        fill="none" 
        viewBox="0 0 24 24" 
        stroke-width="2" 
        stroke="currentColor" 
        class="w-5 h-5 text-gray-500"
      >
        <path 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1011 18.65m0 0l4.35 4.35"
        />
      </svg>
    </span>
  </div>
  
  <button 
    (click)="showForm = true"
    class="flex justify-center items-center w-[150px] h-[50px] bg-red-500 sm:mt-0 mt-4 rounded-lg text-white font-semibold"
  >
    Add new Book
  </button>
</div>


  <!-- Popup Form -->
  <div 
  *ngIf="showForm"
  class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <form 
      (ngSubmit)="addBook()" 
      #bookForm="ngForm" 
      class="space-y-4"
    >
      <div>
        <label for="title" class="block text-gray-700 font-bold mb-2">Title</label>
        <input 
          type="text" 
          id="title" 
          [(ngModel)]="newBook.title" 
          name="title" 
          class="w-full p-2 rounded-lg border border-gray-300" 
          placeholder="Enter book title" 
     
        />
      </div>

      <div>
        <label for="author" class="block text-gray-700 font-bold mb-2">Author</label>
        <input 
          type="text" 
          id="author" 
          [(ngModel)]="newBook.body" 
          name="author" 
          class="w-full p-2 rounded-lg border border-gray-300" 
          placeholder="Enter author name" 
        
        />
      </div>

      <div>
        <label for="genre" class="block text-gray-700 font-bold mb-2">Genre</label>
        <select 
          id="genre" 
          [(ngModel)]="newBook.genre" 
          name="genre" 
          class="w-full p-2 rounded-lg border border-gray-300" 
      
        >
          <option value="" disabled>Select a Genre</option>
          <option value="Fiction">Fiction</option>
          <option value="Non-Fiction">Non-Fiction</option>
          <option value="Mystery">Mystery</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Biography">Biography</option>
        </select>
      </div>

      <div>
        <label for="year" class="block text-gray-700 font-bold mb-2">Published Year</label>
        <input 
          type="date" 
          id="year" 
          [(ngModel)]="newBook.year" 
          name="year" 
          class="w-full p-2 rounded-lg border border-gray-300" 
          
        />
      </div>

      <div class="flex flex-row justify-between">
        <button 
          type="submit" 
          class="bg-red-500 text-white  rounded-lg font-semibold h-[40px] w-[70%]">
          Add Book
        </button>
        <button 
          type="button" 
          (click)="showForm = false"
          class="bg-black text-white  rounded-lg font-semibold h-[40px] w-[28%]">
          Cancel
        </button>
       </div>
    </form>
  </div>
</div>
<!--book added message-->
<div 
  *ngIf="showmsg"
  class="flex items-center justify-center bg-white text-green-500 font-semibold p-4 rounded-lg shadow-md fixed top-5 right-5 z-50"
>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    fill="none" 
    viewBox="0 0 24 24" 
    stroke-width="2" 
    stroke="currentColor" 
    class="w-6 h-6 mr-2"
  >
    <path 
      stroke-linecap="round" 
      stroke-linejoin="round" 
      d="M5 13l4 4L19 7"
    />
  </svg>
  You added a new book!
</div>

  <!-- Book Cards -->
  <div class="cards-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4  mx-5 my-2 sm:mx-[100px] ">
    <div *ngFor="let book of books; let i = index" class="card bg-white shadow-md rounded-lg p-4 flex flex-col">
      <div class="card-content flex flex-col flex-grow items-center justify-center">
        <img src="assets/books.jpg" class="w-32 h-32 rounded-lg" />
        <h2 class="text-xl font-bold text-center mt-2">
          <span class="text-red-500 text-xl font-bold text-center">Title:</span> {{ book.title }}
        </h2>
        <p class="text-gray-700  text-center">
          <span class="text-red-500 text-xl font-bold  text-center">Overview:</span> {{ book.body }}
        </p>
        <p *ngIf="book.genre" class="text-gray-700  text-center ">
          <span class="text-red-500 text-xl font-bold  text-center">Genre:</span> {{ book.genre }}
        </p>
        <p *ngIf="book.year" class="text-gray-700  text-center">
          <span class="text-red-500 text-xl font-bold  text-center">Published Year:</span> {{ book.year }}
        </p>
      </div>
      <button 
        (click)="deleteBook(i)" 
        class="w-full p-2 bg-black text-white rounded-lg mt-2 self-end">
        Delete Book
      </button>
    </div>
 
</div>
