<div class="relative sm:w-[270px] w-[300px] mt-5 ml-[40px] sm:ml-[80px] sm:m-5 mb-2 ">
  <input 
    type="text" 
    placeholder="Search Book . . ." 
    class="p-2 rounded-lg border w-full text-left border-gray-300"
   [(ngModel)]="searchQuery"
    (input)="filterBooks()"
  />
  <span class="absolute inset-y-0 right-2 flex items-center">
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      fill="none" 
      viewBox="0 0 24 24" 
      stroke-width="2" 
      stroke="currentColor" 
      class="w-5 h-5 text-gray-500"
    >
      <path 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1011 18.65m0 0l4.35 4.35"
      />
    </svg>
  </span>
  
</div>
